@font-face {
  font-family: 'Aquire';
  src: url(/font/AquireLight-YzE0o.otf);
  src: url(/font/Aquire-BW0ox.otf);
  src: url(/font/AquireBold-8Ma60.otf);
}

:root {
  --primary-color: 	#d21404;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, Aquire;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
  height: 100%;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
